<div class="container">

  <div class="img-wrap">
    <a href="http://127.0.0.1:9393/"><img src="https://i.ibb.co/SRR0ZSJ/8a5808f3-ab9a-43d4-b015-d88e7eb786c4-200x200.png" style="width:75px;height:85px;"></a>
   <br>
   <br>
  </div>

  <div class="body-text">
      <p>Welcome to Gig Tracker -- New York City's only user-based app to keep track of the shows you care about.</p>
      <br>
  </div>

</div>
