<div class="container">

  <div class="img-wrap">
    <a href="http://127.0.0.1:9393/"><img src="https://i.ibb.co/F52sCtn/c31ecb26-42d6-4b15-993d-7b4d34513641-200x200.png" style="width:75px;height:85px;"></a>
   <br>
   <br>
  </div>

  <div class="body-text">
      <p>Welcome to Gig Tracker -- New York City's only user-based app to keep track of the shows you care about.</p>
      <br>
  </div>

</div>
