<div class="container">
  <header></header>
  <div class="title-top">
    <h2>Gig Finder<i class="fas fa-route"></i></h2>
  
      <p>Welcome to Gig Finder -- New York City's only user-based app to see the shows you care about.</p>
      <br>
      <br>
      <a href="/login">Login</a> or <a href="/signup">Sign Up</a>
    </div>

</div>
